In [1]:
import numpy as np
import pandas as pd

In [2]:
df = dataframes = pd.read_csv("House rent.csv")

In [3]:
df

    Area  Bedrooms   Age   Rent
0   1024       3.0  15.0  11200
1   1200       4.0  10.0  33650
2    800       2.0   NaN   8000
3    674       2.0  10.0   6120
4    766       2.0  11.0   6000
5    680       NaN   NaN   3200
6    750       NaN  10.0   3500
7    900       3.0  20.0   3345
8    967       NaN  23.0   3100
9    720       3.0   7.0   6200
10   850       4.0  16.0   7820
11  1033       NaN   NaN  37020
12  1050       3.0   6.0  33260
13  1120       4.0  30.0  10500
14   839       2.0  24.0   3400
15   921       3.0   NaN   5000
16   671       2.0  12.0   2400
17   953       3.0  36.0   2720
18   871       NaN  12.0   3100
19   933       NaN  10.0   2950
20  1066       4.0   3.0  29820
21  1080       3.0  10.0   9890
22   825       3.0   5.0   6300
23   795       3.0  13.0   5960
24   930       2.0  11.0   4890
25  1128       4.0  21.0   9500
26  1154       3.0  27.0   9230
27  1047       3.0  50.0   6322
28   877       2.0  40.0   1020
29   890       3.0  28.0   2300
30   857       2.0  17.0   3680
31   956       2.0  25.0   7500
32   970       3.0  31.0   7450
33   928       2.0  14.0   8900
34   781       3.0   8.0   4920
35   760       3.0   4.0   5120
36   658       2.0   1.0   3990
37   993       4.0   2.0  10900
38   890       2.0   9.0   4980
39  1025       3.0   5.0  19000

In [4]:
df.head(5)

   Area  Bedrooms   Age   Rent
0  1024       3.0  15.0  11200
1  1200       4.0  10.0  33650
2   800       2.0   NaN   8000
3   674       2.0  10.0   6120
4   766       2.0  11.0   6000

In [5]:
df.isnull().sum()

Area        0
Bedrooms    6
Age         4
Rent        0
dtype: int64

In [6]:
df.isnull().sum()/len(df)*100

Area         0.0
Bedrooms    15.0
Age         10.0
Rent         0.0
dtype: float64

In [7]:
a = df.isnull().sum()/len(df)*100

In [8]:
variables = df.columns